# Python code used in Day 2 presentation slides

## Python Operators
Operators are used to perform operations on variables and values.
In the example below, we use the + operator to add together two values:

In [ ]:
# Basic Arithmetic:
print( 2 * 3 ) # Basic Arithmetic: +, -, /, *
print( 2**3 ) # Basic Arithmetic: +, -, /, * Exponentiation
print( 10 % 3 ) # Modulus Op. : returns remainder of 10/3
print( 1 + 2 * 3 ) # order of operations
print(10 / 3.0) # int's and doubles : Division
print(10 // 3) #Floor division

In [3]:
var1 = "Guru99!"
var2 = "Software Testing"
print ("var1[0]:",var1[0])
print ("var2[1:5]:",var2[1:5])

var1[0]: G
var2[1:5]: oftw

In [4]:
var1 = "Guru99!"
var2 = "Software Testing"
print (var1[0])
print (var2[1:5])

G
oftw

In [5]:
x = "Hello World!"
print(x[:6]) 
print(x[0:6] + "Guru99")

Hello
Hello Guru99

## Python String replace() Method

In [6]:
oldstring = 'I like Guru99' 
newstring = oldstring.replace('like', 'love')
print(newstring)

I love Guru99

## Changing upper and lower case strings

In [7]:
string="python at guru99"
print(string.upper())

PYTHON AT GURU99

## Using “join” function for the string
The join function is a more flexible way for concatenating string. With join function, you can add any character into the string.
For example, if you want to add a colon (:) after every character in the string “Python” you can use the following code.

In [9]:
print(":".join("Python"))

P:y:t:h:o:n

## Reversing String
By using the reverse function, you can reverse the string. For example, if we have string “12345” and then if you apply the code for the reverse function

In [10]:
string="12345"
print(''.join(reversed(string)))

54321

## Split Strings

Split strings is another function that can be applied in Python let see for string “guru99 career guru99”. First here we will split the string by using the command word.split and get the result.

In [11]:
word="guru99 career guru99"
print(word.split(' '))

['guru99', 'career', 'guru99']

In [12]:
word="guru99 career guru99"
print(word.split('r'))

['gu', 'u99 ca', 'ee', ' gu', 'u99']